/* General Page Styles */
/* Setting page height to keep footer at bottom. */
html {
    height: 100%;
}

/* Heading Styles */
h1.navbar-brand.my-auto {
    font-size: 25px;
}

form.form-inline.my-2.my-lg-0.container.justify-content-end {
    max-width: 300px;
}

input.form-control.mr-sm-2 {
    width: 205px;
}

button.btn.btn-outline-primary.my-2.my-sm-0 {
    width: 75px;
}

ul.list-group {
    max-height: 400px;
}

li.list-group-item {
    width: 300px;
}